body {
  display: flex;
  margin: 0;
  height: 100vh;
  background-image: url(../images/fondo.jpg);
  background-repeat: none;
  background-size: cover;
}

/* -------------- BOTONES ---------------- */
.button-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30rem 20rem;
  position: absolute;
}

td {
  margin: 10px;
}

/* -------------- CIRCULOS ---------------- */

.circle {
  border-radius: 50%;
  background-image: url(../images/textura-metálica-de-plata-hermoso-fondo-lámina-efecto-superficie-metal-brillante-brillo-placa-paté-patrón-para-diseño-211479706.webp);
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  display: flex;
  transition: transform 0.25s ease-in-out, border-color 0.25s ease-in-out;
  -webkit-box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 29px 5px rgba(0, 0, 0, 0.75);
}

.circle:hover {
  border: solid red;
}

.circle:hover div {
  background: red;
}

.elem {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
}

.circle-container {
  width: 50rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  z-index: 5;
  margin: 0;
}

.tr button {
  padding: 20px;
  border-radius: 15px;
  margin: 5px;
  margin-right: 100px;
}

#cir1 {
  position: absolute;
  width: 8rem;
  height: 8rem;
  align-content: center;
  z-index: 5;
}

#cir2 {
  position: absolute;
  width: 15rem;
  height: 15rem;
  z-index: 4;
}

#cir3 {
  position: absolute;
  width: 25rem;
  height: 25rem;
  z-index: 3;
}

#cir4 {
  position: absolute;
  width: 35rem;
  height: 35rem;
  z-index: 2;
}

#cir5 {
  position: relative;
  width: 45rem;
  height: 45rem;
  z-index: 1;
}

.ganaste {
  background-image: url(../images/ganaste.jpeg);
}
