body {
    display: flex;
    margin: 0;
    height: 100vh;
}

/* -------------- BOTONES ---------------- */
.button-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30rem 20rem;
    position: absolute;
}

td {
    margin: 10px;
}

/* -------------- CIRCULOS ---------------- */
.circle {
    border-radius: 50%;
    background-color: cornflowerblue;
    border: solid #000;
    margin: 20px;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.circle-container {
    width: 50rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    z-index: 5;
    margin: 0;
}

#cir1 {
    position: absolute;
    width: 10rem;
    height: 10rem;
    align-content: center;
    z-index: 5;

    transform: rotate(45deg);
}
#cir2 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    z-index: 4;
}
#cir3 {
    position: absolute;
    width: 30rem;
    height: 30rem;
    z-index: 3;
}
#cir4 {
    position: absolute;
    width: 40rem;
    height: 40rem;
    z-index: 2;
}
#cir5 {
    position: relative;
    width: 50rem;
    height: 50rem;
    z-index: 1;
}